<script>
    window.intergramId = "245514049";
    window.intergramCustomizations = {
        titleClosed: 'Text Me',
        titleOpen: 'Live Chat',
        introMessage: 'Hey you can talk with me, just type something !',
        autoResponse: 'Your message has been sent',
        autoNoResponse: 'No one is on right now',
        mainColor: "#4b0082", // Can be any css supported color 'red', 'rgb(255,87,34)', etc
        alwaysUseFloatingButton: true // Use the mobile floating button also on large screens
    };
</script>
<script id="intergram" type="text/javascript" src="https://www.intergram.xyz/js/widget.js"></script>

