<script> window.intergramId = "245514049" </script>
<script id="intergram" type="text/javascript" src="https://www.intergram.xyz/js/widget.js"></script>

<script> 
    window.intergramId = "245514049";
    window.intergramCustomizations = {
        closedStyle: 'chat', // button or chat
        closedChatAvatarUrl: 'https://www.intergram.xyz/media/demo_avatar.jpg',  // only used if closedStyle is set to 'chat'
        cookieExpiration: 1, // in days. Once opened, closed chat title will be shown as button (when closedStyle is set to 'chat')
        titleClosed: 'Closed chat title',
        titleOpen: 'Opened chat title',
        introMessage: 'First message when the user opens the chat for the first time',
        autoResponse: 'A message that is sent immediately after the user sends its first message',
        autoNoResponse: 'A message that is sent one minute after the user sends its first message ' +
                        'and no response was received',
        mainColor: "#E91E63", // Can be any css supported color 'red', 'rgb(255,87,34)', etc
        alwaysUseFloatingButton: false // Use the mobile floating button also on large screens
        displayMessageTime: true, // Show or hide time indicators in the chat window
        displayBanner: true, // Show or hide banner on the bottom side of the chat window
        desktopHeight: 500, // Height of the chat window on desktop
        desktopWidth: 370, // Width of the chat window on desktop
    };
</script>
<script id="intergram" type="text/javascript" src="https://www.intergram.xyz/js/widget.js"></script>
