<script> window.intergramId = "245514049" </script>
<script id="intergram" type="text/javascript" src="https://www.intergram.xyz/js/widget.js"></script>

<script> 
    window.intergramId = "245514049";
    window.intergramCustomizations = {
        closedStyle: 'chat', // button or chat
        closedChatAvatarUrl: 'https://www.stoccomatis.ml/assets/images/profile.jpg',  // only used if closedStyle is set to 'chat'
        cookieExpiration: 1, // in days. Once opened, closed chat title will be shown as button (when closedStyle is set to 'chat')
        titleClosed: 'Closed chat title',
        titleOpen: 'Opened chat title',
        introMessage: 'I'm here to help you',
        autoResponse: 'Message delivered !',
        autoNoResponse: 'Sorry my owner is not online he will check shortly' +
                        'Sorry my owner still offline, you should wait a bit',
        mainColor: "#3ab762", // Can be any css supported color 'red', 'rgb(255,87,34)', etc
        alwaysUseFloatingButton: false // Use the mobile floating button also on large screens
        displayMessageTime: true, // Show or hide time indicators in the chat window
        displayBanner: true, // Show or hide banner on the bottom side of the chat window
        desktopHeight: 500, // Height of the chat window on desktop
        desktopWidth: 370, // Width of the chat window on desktop
    };
</script>
<script id="intergram" type="text/javascript" src="https://www.intergram.xyz/js/widget.js"></script>
